Flask[async]==2.3.3
Flask-CORS==4.0.0
requests==2.31.0
python-dotenv==1.0.0
gunicorn==21.2.0            # (Windows 개발용이면 사용 안 함)

google-generativeai==0.3.1  # LLM (Gemini) API 연동

psycopg2-binary==2.9.7
supabase==1.0.4
