# .easignore

# 1. 의존성 및 버전 관리 (용량 주범)
node_modules/
.git/
.expo/

# 2. 안드로이드 빌드 파일 (전부 무시)
android/.gradle/
android/build/
android/app/build/

# 3. iOS 빌드 파일 (전부 무시)
ios/.symlinks/
ios/Pods/
ios/build/

# 4. 결과물 파일
*.apk
*.aab
*.ipa

# 5. 환경변수 및 키
.env
.env*
*.keystore
*.jks
*.pem